.bookings {
    position: relative;
    top: 5rem;
    margin: auto;
    width: 30rem;
    display: flex;
    flex-direction: column;
    background-color: #fbf0f0;
    border: 2px solid #b8b0b0;
    padding: 1rem;
    text-align: center;
}